<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>일정 추가</title>
</head>

<body>
  <h1>일정 추가</h1>
  <hr />
  <form method="post">
    <table>
      <tr>
        <td><label>제목</label></td>
        <td><input type="text" name="title" /></td>
      </tr>
      <tr>
        <td><label>내용</label></td>
        <td><input type="text" name="content" /></td>
      </tr>
      <tr>
        <td><label>날짜</label></td>
        <td><input type="text" name="date" /></td>
      </tr>
    </table>
    <input type="submit" value="추가">
  </form>
</body>

</html>